@model ToDoNet.Models.Item

@{
    ViewData["Title"] = "Item - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new item</h2>
<hr />

@using (Html.BeginForm())
{
    <label>@Html.LabelFor(model => model.Description)</label>
   @Html.EditorFor(model => model.Description)
   <br>
    <label>@Html.LabelFor(model => model.CategoryId)</label>  @Html.DropDownList("CategoryId")
    <br>
    <input type="submit" value="Create" class="btn btn-default btn-lg" />
}

@Html.ActionLink("Back to List", "Index")
